xml/participeMultipleUtilisateur.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT participeMultipleUtilisateur (nombre, participe*)>
<!ATTLIST participeMultipleUtilisateur
	idUtilisateur CDATA #REQUIRED
>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT participe EMPTY>
<!ATTLIST participe
	idUtilisateur CDATA #REQUIRED
	idEvenement CDATA #REQUIRED
>
